:root {
  --backgroundColor: #FAF1E6;
  --primaryColour: #FDFAF6;
  --secondaryColor: #E4EFE7;
  --textColour: #064420;
  
}
[data-theme='dark'] {
  --backgroundColor: #000000;
  --primaryColour: #282A3A;
  --secondaryColor: #735F32;
  --textColour: #C69749;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
html {
  color: var(--textColour);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--backgroundColor);
}

/* Header Config*/
#Header {
  position: sticky;
  background-color: var(--primaryColour);
  top: 0;
  margin: 0 0 1rem;
  height: 5rem;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
nav button {
  background-color: var(--backgroundColor);
  padding: 0.4rem;
  margin: 0 0.2rem;
  border-radius: 4px;
  cursor: pointer; 
}
#Header p{
  cursor: pointer;
  margin: 0 1rem
}

#Header div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Auth Components Config */
label, input, textarea {
  display: flex;
}
input, textarea {
  padding: 0.5rem;
  margin: 1rem 0 2rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.formFields{
  width: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  padding: 2rem;
}
.formFields textarea, input{
  width: 18rem;
}
.formFields textarea {
  height: 5rem
}
.signup, .login {
  width: 15rem;
  padding: 2rem;
  background-color: var(--secondaryColor);
  border-radius: 5px;
}
.authForm input {
  width: 15rem;
}
.authForm {
  height: 30rem;
  display: flex;
  align-items: center;
  margin: auto;
}


/* Content Container Configuration */
#ContentContainer {
  height: 30rem;
  display: flex;
  width: 90%;
  margin: auto;
}
.section{
  width: 20%;
  background-color: var(--primaryColour);
  color: var(--textColour);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  border-radius: 5px;
}
.content{
  width: 80%;
  display: flex;
  padding: 1rem;
  justify-content: center;
  flex-flow: row wrap;
  overflow: auto;
  border-radius: 5px;
}
a{
  color: var(--textColour);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.button-group button {
  background-color: var(--backgroundColor);
  padding: 0.4rem;
  margin: 0 0.2rem;
  border-radius: 5px;
  cursor: pointer;
}
.photoOutput{
  display: flex;
  flex-direction: column;
}

.photoOutput img{
  width: 20rem;
  margin: 1rem 0;
}

/* Card*/
.card{
  width: 13rem;
  height: 20rem;
  margin: 1rem 2rem;
}
.cardContent:hover{
  /* width: 265px; */
  background-color:  var(--primaryColour);
}
.cardMedia{
  height: 12rem
}
.cardContent{
  height: 8rem;
  background-color: var(--secondaryColor);
}

/* Blog display*/
.postOutput{
  overflow: auto;
  width: 100%;
  background-color: var(--secondaryColor);
  display: flex;
  flex-direction: column;
}
.postText{
  height: 15rem;
  display: grid;
  grid-template-columns: 70% 30%;
}
.section1, .section2{
  margin: 0.5rem;
  padding: 0.5rem
}
.postImage{
  margin:0.5rem;
  padding: 0.5rem;
  height: auto;
}
.postImage img{
  width: 80%;
}

#Footer {
  position: sticky;
  width: 100%;
  margin: 1rem 0 0;
  height: 4rem;
  bottom: 0;
  background-color: var(--primaryColour);

  color: var(--textColour);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #ContentContainer {
    display: flex;
    width: 80%;
    margin: auto;
    flex-flow: column nowrap;
  }
  .section{
    width: 100%;
  }
  .content{
    width: 90%;
  }
  .postText{
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .section1, .section2{
    margin: 0.2rem;
    padding: 0.2rem
  }
  .postImage img{
    width: 90%;
  }
  .button-group button {
    padding: 0.2rem;
    margin: 0 0 0.5rem;
  }
  .formFields{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
  .formFields textarea, input{
    width: 15rem;
  }
  .photoOutput{
    display: block;
    flex-direction: column;
  }
  
  .photoOutput img{
    width: 18rem;
    margin: 1rem 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  #ContentContainer {
    display: flex;
    width: 80%;
    height: 40rem;
    margin: auto;
    flex-flow: column nowrap;
  }
  .section{
    width: 100%;
  }
  .content{
    width: 90%;
    margin: auto;
    height: 30rem
    
  }
  .postText{
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .section1, .section2{
    margin: 0.2rem;
    padding: 0.2rem
  }
  .postImage img{
    width: 90%;
  }
  .button-group button {
    padding: 0.3rem;
    margin: 0 0.2rem 0.8rem;
  }
  .formFields{
    /* width: 100%; */
    margin: auto;
    align-items: center;
    display: flex;
    flex-flow: column ;
    padding: 0.5rem;
  }
  .formFields textarea, input{
    padding: 0.5rem;
    margin: 1rem 0 2rem;
  }
  .photoOutput{
    display: block;
    flex-direction: column;
  }
  .photoOutput img{
    width: 18rem;
    margin: 1rem 0;
  }
  #Header {
    height: 6rem;
  }
  #Footer {
    height: 5rem;
  }
  .signup, .login {
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
  }
}

/* Small devices on landscape */
@media only screen and (min-width: 769px) and (max-width: 992px) and (orientation: portrait){
  #ContentContainer {
    display: flex;
    width: 80%;
    height: 50rem;
    margin: auto;
    flex-flow: column nowrap;
  }
  .section{
    width: 100%;
  }
  .postOutput{
    justify-content: center;
  }
  .content{
    width: 90%;
    margin: auto;
    height: 50rem;
  }
  .postText{
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .section1, .section2{
    margin: 0.2rem;
    padding: 0.2rem
  }
  .postImage img{
    width: 90%;
  }
  .button-group button {
    padding: 0.3rem;
    margin: 0 0.2rem 0.8rem;
  }
  .formFields{
    /* width: 100%; */
    margin: auto;
    align-items: center;
    display: flex;
    flex-flow: column ;
    padding: 0.5rem;
  }
  .formFields textarea, input{
    padding: 0.5rem;
    margin: 1rem 0 2rem;
  }
  .photoOutput{
    display: block;
    flex-direction: column;
  }
  .photoOutput img{
    width: 18rem;
    margin: 1rem 0;
  }
  #Header {
    height: 6rem;
  }
  #Footer {
    height: 5rem;
  }
  .signup, .login {
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) and (orientation: landscape){
  #ContentContainer {
    display: flex;
    width: 80%;
    height: 50rem;
    margin: auto;
    flex-flow: column nowrap;
  }
  .section{
    width: 100%;
  }

  .button-group button {
    padding: 0.3rem;
    margin: 0 0.2rem 0.8rem;
  }
  .postOutput{
    justify-content: center;
  }
  .content{
    width: 90%;
    margin: auto;
    height: 50rem;
  }
  .App{
    position: fixed;
    bottom: 0;
    min-height: 100%;
    overflow: auto;
  }
  .formFields{
    margin: auto;
    align-items: center;
    display: flex;
    flex-flow: column ;
    padding: 0.5rem;
  }
  #Header {
    /* height: 10rem; */
    padding: 1rem
  }
  #Footer {
    position: relative;
    height: 5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}